<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminHome</title>
    <style>
        div.main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        button {
            margin-top: 10px;
            padding: 10px;
            font-size: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css">
</head>
<body>
<div class="main">
    <button onclick="document.getElementById('addBook').style.display='block'">Добавить книгу</button>
    <button onclick="document.getElementById('getBooks').style.display='block'">Вывод книг</button>
    <button onclick="document.getElementById('updateBook').style.display='block'">Редактировать</button>
    <button onclick="document.getElementById('deleteBook').style.display='block'">Удалить</button>
    <button onclick="document.getElementById('addBook').style.display='block'">Добавить книгу</button>
</div>

<div id="addBook" class="modal">
<div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">Новая книга</h1>
            <a href=" ">X</a>
        </div>
        <div class="modal-body p-5 pt-0">
            <form action="/adminHome/book/create" method="post" enctype="multipart/form-data">
                <div class="form-floating mb-3">
                    <input name="name" type="text" class="form-control rounded-3" id="NameBookInput" placeholder="Синие моря">
                    <label for="NameBookInput">Название</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="author" type="text" class="form-control rounded-3" id="AuthorBookInput" placeholder="Пушкин А.С.">
                    <label for="AuthorBookInput">Автор</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="cost" type="text" class="form-control rounded-3" id="CostBookInput" placeholder="50.4">
                    <label for="CostBookInput">Стоимость</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="file1" type="file" class="form-control rounded-3" id="PhotoBookInput" >
                    <label for="PhotoBookInput">Фото</label>
                </div>


                <div class="form-floating mb-3" th:if="${genres}!=null" th:each="genre : ${genres}">
                        <input type="checkbox" name="checkboxGenre" th:value="${genre.getId()}" />
                        <label th:text="${genre.name}"></label>
                </div>
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Добавить</button>
            </form>

        </div>
    </div>
</div>
</div>

</body>
</html>