<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookSell</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css">
    <link rel="icon" type="image/gif/png" href="../static/iconBookSell.png">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">BOOKSELL
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
        </div>

        <form th:action="*{'/search'}" method="get" class="row g-3">
            <div class="col-auto">
                <input type="text" class="form-control" name="nameBook" placeholder="Поиск">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                </button>
            </div>
        </form>

        <div class="col-md-3 text-end">
            <button onclick="document.getElementById('Registration').style.display='block'" type="button" id="openLogin"
                    class="btn btn-outline-primary me-2">Регистрация
            </button>
            <button onclick="document.getElementById('Login').style.display='block'" type="button"
                    class="btn btn-primary">Вход
            </button>
        </div>
        <div id="Registration" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h1 class="fw-bold mb-0 fs-2">Регистрация</h1>
                        <a href=" ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-reply" viewBox="0 0 16 16">
                                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"></path>
                            </svg>
                        </a>

                    </div>
                    <div class="modal-body p-5 pt-0">
                        <form action="/registration" method="post" class="">
                            <div class="form-floating mb-3">
                                <input name="email" type="email" class="form-control rounded-3" id="RegInput"
                                       placeholder="name@example.com">
                                <label for="RegInput">Адрес электронной почты</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="password" type="password" class="form-control rounded-3" id="RegPassword"
                                       placeholder="Пароль">
                                <label for="RegPassword">Пароль</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="name" type="text" class="form-control rounded-3" id="RegName"
                                       placeholder="Максим">
                                <label for="RegName">Имя</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="phoneNumber" type="text" class="form-control rounded-3" id="RegPhone"
                                       placeholder="+375292060541">
                                <label for="RegPhone">Номер телефона</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">
                                Зарегистрироваться
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div id="Login" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h1 class="fw-bold mb-0 fs-2">Вход в учётную запись</h1>
                        <a href=" ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-reply" viewBox="0 0 16 16">
                                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"></path>
                            </svg>
                        </a>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <form action="/sing/auth" method="post" class="">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control rounded-3" id="loginEmail"
                                       placeholder="name@example.com">
                                <label for="loginEmail">Адрес электронной почты</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" id="loginPassword"
                                       placeholder="Password">
                                <label for="loginPassword">Пароль</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Вход</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </header>
</div>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            <div class="col" th:each="e:${book}">
                <div class="card shadow-sm">
                    <div class="card-body ">
                        <img th:src="*{'/image/' + e.previewImageId }" height="280px" width="200px"/><br><br><img>
                        <div class="form-floating mb-3">
                            <p class="card-text"><h4 fon th:text="${e.cost}"/></p>
                            <p class="card-text text-truncate"><b th:text="${e.name}"/></p>
                            <p class="card-text text-secondary"><b th:text="${e.author}"/></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <buttonX type="button" class="btn btn-sm btn-outline-secondary">View</buttonX>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--<div class="container">
    <div class="row">
        <div class="col-lg-4" th:each="e:${book}">
            <div style="width: 220px" class="form-floating mb-3">
                <img th:src="*{'/image/' + e.previewImageId }" height="280px" width="200" alt="alt"/><br><br><img>
                <h4 fon th:text="${e.cost}"/><b></b>

                <b th:text="${e.name}"/><b></b>

                <div style="color: grey" class="form-floating mb-">
                    <b th:text="${e.author}"/><b></b>
                </div>

                &lt;!&ndash;<div th:if="${genre}!=null" th:each="g:${genre}">
                    <b>Жанр: </b><b th:text="${g.name}"/> <br>
                </div>&ndash;&gt;
            </div>
        </div>
    </div>
</div>-->


</body>
</html>